* {
    margin: 0;
    padding: 0;
    border:none;
}
body {
    background-color: black;
}
.slides {
    width: 100%;
}

.slides-hidden {
    display: none;
}

.slidesIntro {
    width: 100%;
    display: none;
}

.slidesBattle {
    width: 100%;
    display: none;
}
.battle1 {
    width: 100%;
    display: none;
}

form {
    color: green;
}

p {
    color: green;
}

#battleStats {
    display: none;
}

@media screen and (max-width: 800px) {
    body {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }